body {
  font-family: sans-serif;
}

header {
  text-align: center;
}

main {
  padding: 20px;
}

.skills-list {
  list-style-type: none;
}

.skills-list li {
  font-size: 16px;
  margin-bottom: 10px;
}

.experience-list {
  list-style-type: none;
}

.experience-list li {
  font-size: 16px;
  margin-bottom: 10px;
}

.projects-list {
  list-style-type: none;
}

.projects-list li {
  font-size: 16px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
}
#contact {
  background-color: #f1f1f1;
  padding: 20px;
}

#contact h2 {
  color: #333;
  font-size: 24px;
}

#contact form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

#contact button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #333;
  cursor: pointer;
}

#contact button:hover {
  background-color: #444;
}
